<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957169519273-7hvs6f3rs32sot13ubkign2vi224gs78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957169519273-7hvs6f3rs32sot13ubkign2vi224gs78</string>
	<key>API_KEY</key>
	<string>AIzaSyCz-gZdsDUlpQohVOWdfy6-1qnQLb9cLj0</string>
	<key>GCM_SENDER_ID</key>
	<string>957169519273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cgc</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-826a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-826a8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957169519273:ios:6c310468fce0d6214df7b8</string>
</dict>
</plist>
